<!DOCTYPE html>
<html>
  <head>
    <title>checked-keys</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to our cool Steam-Keys online market</h1>
    <p>We sell only checked keys for low prices</p>
    <p>
      What are you waiting for? <br />Make your first purchase and enjoy your
      favorite <a href="/games">games</a>!
    </p>
  </body>
</html>
